# E-Commerce RFM Classification and Predictive Model:

**Problem Statement:**

In order to develop a consumer focused market strategy, how can our client’s customer data be categorized for forecasting what they will purchase over the next year using an RFM categorization strategy?

**Context:**

Our client is a UK-based retailer that primarily sells unique all-occasion gifts. Many customers of the retailer are wholesalers. Our client has provided the previous year’s (01/12/2010 - 09/12/2011) transaction history of its customers. The client wants a model which identifies customers based on recency, frequency and monetary value for targeted marketing strategies such as reward programs, VIP memberships, and mailing lists. All of  this will allow our client to focus on customer retention across the entire customer base.

**Criteria for success:**

The model most properly categorize:
- the recency of customers (time between purchases);
- the frequency of a customer’s purchase history;
- the monetary value of a customer (how much they spend);
- and accurately categorize future customers.

**Scope of solution space:**

Focus will be on the past year’s transactional history for all customers provided by the client. After identifying key features of the data, a model can be developed based on the key features that properly categorizes the customers.

**Constraints within solution space:**

- Customers that have no ID (likely customers that purchased as a guest) will need to be dropped as they cannot be consistently measured.
- Customers that are other large retail companies will likely be outliers.
- The model will be based on the recent trends and cannot accurately measure developing trends for the next year (think fidget spinners and pop culture).

**Stakeholders to provide key insight:**

Our largest stakeholders are our client’s:
- CEO
- Head of Marketing
- Marketing Strategist
- PR department
- Highest RFM customers 

**Key data sources:**

The past years transaction data provided in the csv file labeled “data.csv.”

## Part 1 - Data Wrangling

In [23]:
# Here we go, let's import the basics of what we expect we will be nedding to complete this notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.cluster import KMeans
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

data = pd.read_csv('data.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Alright, so lets first start cleaning the data.

In [24]:
# My good friend and fellow Data Scientist Ben Merrill wrote this function to look for nan values. 
# I always use it now for a clean, easy to read output about missing values in the data. 
# Go check his Github out!

def show_na(df):
    na_df = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
    na_df.columns=['count', '%']
    na_df.sort_values(by='count', ascending = False)
    return na_df
# Use the function
show_na(data)

              count          %
InvoiceNo         0   0.000000
StockCode         0   0.000000
Description    1454   0.268311
Quantity          0   0.000000
InvoiceDate       0   0.000000
UnitPrice         0   0.000000
CustomerID   135080  24.926694
Country           0   0.000000

In [ ]:
# Well let's see if we can live without this missing data.

The first step is to create the foundations for a cohort analysis do we can start measuring Recency, Frequency, and overall Monetary Value per customer.

In [15]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [17]:
# Define a function that will parse the date
def get_day(x): return dt.datetime(x.year, x.month, x.day)

# Create InvoiceDay column
data['InvoiceDay'] = data['InvoiceDate'].apply(get_day) 

# Group by CustomerID and select the InvoiceDay value
grouping = data.groupby('CustomerID')['InvoiceDay'] 

# Assign a minimum InvoiceDay value to the dataset
data['CohortDay'] = grouping.transform(min)

# View the top 5 rows
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,CohortDay
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01

In [19]:
# define get_date_int function
def get_date_int(df, column):
    year = df[column].dt.year
    month = df[column].dt.month
    day = df[column].dt.day
    return year, month, day

# Get the integers for date parts from the `InvoiceDay` column
invoice_year, invoice_month, invoice_day = get_date_int(data, 'InvoiceDay')

# Get the integers for date parts from the `CohortDay` column
cohort_year, cohort_month, cohort_day = get_date_int(data, 'CohortDay')

In [21]:
# Calculate difference in years
years_diff = invoice_year - cohort_year

# Calculate difference in months
months_diff = invoice_month - cohort_month

# Calculate difference in days
days_diff = invoice_day - cohort_day

# Extract the difference in days from all previous values
data['CohortIndex'] = years_diff * 365 + months_diff * 30 + days_diff + 1
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,CohortDay,CohortIndex
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,2010-12-01,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,2010-12-01,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2010-12-01,1.0